@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>User Management System</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <p class="lead">You're logged in as @User.Identity.Name</p>
    }
    else
    {
        <p class="lead">You're not logged in.</p>
    }
    
    
</div>
